<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.tri.dao.TriTaTipoEntrenoMapper" >
  <resultMap id="BaseResultMap" type="es.tri.dao.model.TriTaTipoEntreno" >
    <id column="id_tipo_entreno" property="id_tipo_entreno" jdbcType="INTEGER" />
    <result column="Descripción" property="descripción" jdbcType="INTEGER" />
    <result column="Fecha_baja" property="fecha_baja" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id_tipo_entreno, Descripción, Fecha_baja
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tri_ta_tipo_entreno
    where id_tipo_entreno = #{id_tipo_entreno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tri_ta_tipo_entreno
    where id_tipo_entreno = #{id_tipo_entreno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="es.tri.dao.model.TriTaTipoEntreno" >
    insert into tri_ta_tipo_entreno (id_tipo_entreno, Descripción, Fecha_baja
      )
    values (#{id_tipo_entreno,jdbcType=INTEGER}, #{descripción,jdbcType=INTEGER}, #{fecha_baja,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="es.tri.dao.model.TriTaTipoEntreno" >
    insert into tri_ta_tipo_entreno
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id_tipo_entreno != null" >
        id_tipo_entreno,
      </if>
      <if test="descripción != null" >
        Descripción,
      </if>
      <if test="fecha_baja != null" >
        Fecha_baja,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id_tipo_entreno != null" >
        #{id_tipo_entreno,jdbcType=INTEGER},
      </if>
      <if test="descripción != null" >
        #{descripción,jdbcType=INTEGER},
      </if>
      <if test="fecha_baja != null" >
        #{fecha_baja,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="es.tri.dao.model.TriTaTipoEntreno" >
    update tri_ta_tipo_entreno
    <set >
      <if test="descripción != null" >
        Descripción = #{descripción,jdbcType=INTEGER},
      </if>
      <if test="fecha_baja != null" >
        Fecha_baja = #{fecha_baja,jdbcType=INTEGER},
      </if>
    </set>
    where id_tipo_entreno = #{id_tipo_entreno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="es.tri.dao.model.TriTaTipoEntreno" >
    update tri_ta_tipo_entreno
    set Descripción = #{descripción,jdbcType=INTEGER},
      Fecha_baja = #{fecha_baja,jdbcType=INTEGER}
    where id_tipo_entreno = #{id_tipo_entreno,jdbcType=INTEGER}
  </update>
</mapper>