<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.tri.dao.TriTUsuariosMapper" >
  <resultMap id="BaseResultMap" type="es.tri.dao.model.TriTUsuarios" >
    <id column="id_usuario" property="id_usuario" jdbcType="INTEGER" />
    <result column="id_tipo_usuario" property="id_tipo_usuario" jdbcType="INTEGER" />
    <result column="Password" property="password" jdbcType="VARCHAR" />
    <result column="Fecha_baja" property="fecha_baja" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id_usuario, id_tipo_usuario, Password, Fecha_baja
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tri_t_usuarios
    where id_usuario = #{id_usuario,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tri_t_usuarios
    where id_usuario = #{id_usuario,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="es.tri.dao.model.TriTUsuarios" >
    insert into tri_t_usuarios (id_usuario, id_tipo_usuario, Password, 
      Fecha_baja)
    values (#{id_usuario,jdbcType=INTEGER}, #{id_tipo_usuario,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{fecha_baja,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="es.tri.dao.model.TriTUsuarios" >
    insert into tri_t_usuarios
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id_usuario != null" >
        id_usuario,
      </if>
      <if test="id_tipo_usuario != null" >
        id_tipo_usuario,
      </if>
      <if test="password != null" >
        Password,
      </if>
      <if test="fecha_baja != null" >
        Fecha_baja,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id_usuario != null" >
        #{id_usuario,jdbcType=INTEGER},
      </if>
      <if test="id_tipo_usuario != null" >
        #{id_tipo_usuario,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="fecha_baja != null" >
        #{fecha_baja,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="es.tri.dao.model.TriTUsuarios" >
    update tri_t_usuarios
    <set >
      <if test="id_tipo_usuario != null" >
        id_tipo_usuario = #{id_tipo_usuario,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="fecha_baja != null" >
        Fecha_baja = #{fecha_baja,jdbcType=DATE},
      </if>
    </set>
    where id_usuario = #{id_usuario,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="es.tri.dao.model.TriTUsuarios" >
    update tri_t_usuarios
    set id_tipo_usuario = #{id_tipo_usuario,jdbcType=INTEGER},
      Password = #{password,jdbcType=VARCHAR},
      Fecha_baja = #{fecha_baja,jdbcType=DATE}
    where id_usuario = #{id_usuario,jdbcType=INTEGER}
  </update>
</mapper>